@import './../../../../styles/variables';

.thread-list__item {
  display: grid;
  grid-template-columns: 6fr 2fr 4fr;
  background-color: $color-back-blue;
}

.thread-list__item:nth-child(even) {
  background-color: $color-back-gray;
}

.thread {
  text-align: left;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 15px;

  &__info {
    color: $color-midgray;
    margin-top: 10px;
  }
}

.replies {
  text-align: left;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 15px;
}

.last-reply {
  text-align: left;
  border-bottom: 1px solid white;
  padding: 15px;

  &__user {
    text-decoration: underline;
    cursor: pointer;
  
    &_theme_dark {
      color: $color-text-dark_theme;
    }
  }

  &__date {
    color: $color-midgray;
    text-decoration: underline;
    margin-top: 10px;
    cursor: pointer;
  }
}
