@import "./../../../styles/variables";

.phorum-threadlist__item {
  display: grid;
  grid-template-columns: 6fr 2fr 4fr;
  background-color: $color-back-blue;
}

.phorum-threadlist__item:nth-child(even) {
  background-color: $color-back-gray;
}

.thread {
  text-align: left;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 15px;

  
}

.thread_pagecount {
  color: $color-midgray;
  margin: 0 3px;
  cursor: pointer;
}

.thread__info {
  color: $color-midgray;
  margin-top: 10px;
}

.replies {
  text-align: left;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 15px;
}

.last-reply {
  text-align: left;
  border-bottom: 1px solid white;
  padding: 15px;
}
