@import './../../../styles/variables';

.main-wrapper {
  width: 100%;
  text-align: center;
  padding-right: 20px;

}

.phorum-wrapper {
  text-align: center;
}

.phorum-thread-list {
  list-style: none;
}

.new-thread-wrapper {
  width: 100%;
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

