.upper-menu {
  display: block;
  width: 100%;
  background-color: #fbfbfb;
}

.menu-list-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.menu-list {
  display: inline-block;
  list-style: none;
}

.menu-list__item {
  display: inline-block;
  margin: 0px 10px;
  cursor: pointer;
  font-weight: bold;
}

.menu-list__item.active {
  text-decoration: underline;
}
