@import '_variables';

.avatar {
  &__img-wrapper {
    border-radius: 100px;
    width: 130px;
    height: 130px;
    margin: auto;
    padding: 0;
    cursor: pointer;
  }

  &__img-wrapper:hover {
    .avatar__img {
      filter: brightness(0.7);
    }
    .avatar__text {
      color: $avatar-light-text-color;
    }
  }

  &__img {
    border-radius: 100px;
    width: 100%;
    height: 100%;
  }

  &__text {
    position: absolute;
    width: 64px;
    text-align: center;
    top: 110px;
    left: calc(50% - 32px);
    color: transparent;
    font-size: 13px;
  }

  &__person-name {
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
    font-weight: 600;
    color: $avatar-light-name-color;
  }
}
