// LIGHT
$table-light-border-color: #eaeaea;
$table-light-left-column-text-color: #000;
$table-light-right-column-text-color: #999;

// DARK TODO: dark theme colors
$table-dark-border-color: #eaeaea;
$table-dark-left-column-text-color: #fff;
$table-dark-right-column-text-color: #999;
