@import './../../../styles/variables';

.leader-list__item {
  display: block;
  width: 670px;
  height: 46px;
  background-color: $color-back-blue;
  text-align: justify;
}

.leaderboard-top-list .leader-list__item:nth-child(even) {
  background-color: $color-back-gray;
}

.leaderboard-list .leader-list__item:nth-child(odd) {
  background-color: $color-back-gray;
}

.avatar {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: grey;
  margin: 8px;
  cursor: pointer;
}

.name {
  display: inline-block;
  vertical-align: middle;
  width: 470px;
  font-size: 20px;
  cursor: pointer;
}

.score {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  text-align: end;
  font-size: 20px;
}
