// LIGHT
$link-light-red-color: #ff0000;
$link-light-blue-color: #3369f3;
$link-light-black-color: #000;

// DARK TODO: dark theme colors
$link-dark-red-color: #ff0000;
$link-dark-blue-color: #3369f3;
$link-dark-black-color: #000;
