// LIGHT
$back-button-light-background-color: #fbfbfb;
$back-button-light-border-color: #eaeaea;

// DARK TODO: dark theme colors
$back-button-dark-background-color: #333;
$back-button-dark-border-color: #eaeaea;
